<div class="sidebar">

  <div class="container">
  <!-- <div class="container sidebar-sticky"> for sidebar flushed down-->
    <div class="sidebar-about">
      <h1 class="condensed">{{ site.title }}</h1>
    </div>

    <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">About</a>
    <a class="sidebar-nav-item" href="/research/">Research</a>
    <a class="sidebar-nav-item" href="/publications/">Publications</a>
    <a class="sidebar-nav-item" href="/group/">Group</a>
    <a class="sidebar-nav-item" href="/teaching/">Teaching</a>
        <!-- <a class="sidebar-nav-item" href="/group/">Group Members</a>
        <a class="sidebar-nav-item" href="/blog/">Blog</a> -->
      <!--span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
    </nav>

   <p class="tiny">&copy; Hubert Muchalski 1995&ndash;{{ site.time | date: '%Y' }}.</p>

  </div>

</div>